<div class="cart" >
  <div class="top-data">
    <div style="margin-top: 5%; margin-left: 4%">
      <img ngSrc="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe-AGZjMN-8FlEf0oSXh-Q8eDW8tWuyvzncVkjamIeNwe1YEK612SkADDoee3QWKyEsr8&usqp=CAU" class="icon"/>
    </div>
    <div style="width: 100%;">
      <div class="address">
        {{venue.area.name}} - {{venue.city.name}}
      </div>

      <div class="name">
        {{venue.name}}
      </div>

    </div>
  </div>
<div style="width: 98%; align-content: center">
  <hr style="           height: 1px;
            background-color: #333;
            margin: 20px;">
</div>

  <div class="down-data">
    <div>
      {{ venue.category }}
    </div>
  </div>
</div>
